<!DOCTYPE html>
<html>
<head>
    <title>Contraseñas Generadas</title>
</head>
<body>
    <h1>Contraseñas Generadas</h1>
    <table>
        <thead>
            <tr>
                <th>Contraseña</th>
                <th>Longitud</th>
                <th>Mayúsculas</th>
                <th>Minúsculas</th>
                <th>Números</th>
                <th>Caracteres Especiales</th>
            </tr>
        </thead>
        <tbody>
            {% for password in passwords %}
            <tr>
                <td>{{ password.password_text }}</td>
                <td>{{ password.length }}</td>
                <td>{{ password.uppercase }}</td>
                <td>{{ password.lowercase }}</td>
                <td>{{ password.numbers }}</td>
                <td>{{ password.special_characters }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>